html, * {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("../img/877952.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Raleway", sans-serif;
	padding: 10px;
}


.container {
    min-height: 300px;
    max-width: 250px;
    margin: 40px auto;
    background: black;
    border-radius: 2px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    overflow: hidden;
    -webkit-animation: hi 0.5s;
    animation: hi 0.5s;
    -webkit-transform: translateZ(0px);
}
.container * {
    box-sizing: border-box;
}
.pages {
    -webkit-box-flex: 1;
    flex: 1;
    white-space: nowrap;
    position: relative;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    display: -webkit-box;
    display: flex;
}
.pages .page {
    min-width: 100%;
    padding: 20px 15px;
    padding-top: 0px;
    /*
  background: -webkit-gradient(linear, right top, left top, from(#955dff), to(#6faaff));
  background: linear-gradient(to left, #955dff, #6faaff);
*/
    background: black;
}
.pages .page:nth-of-type(1) .input {
    -webkit-transform: translateX(-100%) scale(0.5);
    transform: translateX(-100%) scale(0.5);
}
.pages .page:nth-of-type(2) .input {
    -webkit-transform: translateX(100%) scale(0.5);
    transform: translateX(100%) scale(0.5);
}
.pages .page .input {
    -webkit-transition: all 1s;
    transition: all 1s;
    opacity: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.pages .page.signup {
    /*  background: -webkit-gradient(linear, right top, left top, from(#6faaff), to(#955dff));*/
    background: black;
}
.pages .page .title {
    margin-bottom: 10px;
    font-size: 14px;
    position: relative;
    line-height: 14px;
    color: white;
}
.pages .page .title i {
    vertical-align: text-bottom;
    font-size: 19px;
}
.pages .page .input {
    margin-top: 20px;
}
.pages .page input.text {
    background: #f6f7f9;
    border: none;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
    color: rgba(0, 0, 0, 0.5);
    outline: none;
}
.pages .page input[type="submit"] {
    background: rgba(255,255,255,0.50);
    color: #f6f7f9;
    height: 40px;
    line-height: 40px;
    width: 100%;
    border: none;
    border-radius: 4px;
    font-weight: 600;
}
.tabs {
    max-height: 50px;
    height: 50px;
    display: -webkit-box;
    display: flex;
    background: white;
}
.tabs .tab {
    -webkit-box-flex: 1;
    flex: 1;
    color: #5d708a;
    text-align: center;
    line-height: 50px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.tabs .tab .text {
    font-size: 14px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
input[type="radio"] {
    display: none;
}
input[type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) {
    box-shadow: inset -3px 2px 5px rgba(0, 0, 0, 0.25);
    color: #3f4c7f;
}
input[type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) .text {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}
input[type="radio"]:nth-of-type(1):checked ~ .pages {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}
input[type="radio"]:nth-of-type(1):checked ~ .pages .page:nth-of-type(1) .input {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
input[type="radio"]:nth-of-type(1):checked ~ .pages .page:nth-of-type(1) .input:nth-child(1) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
input[type="radio"]:nth-of-type(1):checked ~ .pages .page:nth-of-type(1) .input:nth-child(2) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
input[type="radio"]:nth-of-type(1):checked ~ .pages .page:nth-of-type(1) .input:nth-child(3) {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}
input[type="radio"]:nth-of-type(1):checked ~ .pages .page:nth-of-type(1) .input:nth-child(4) {
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s;
}
input[type="radio"]:nth-of-type(1):checked ~ .pages .page:nth-of-type(1) .input:nth-child(5) {
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
}
input[type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) {
    box-shadow: inset 3px 2px 5px rgba(0, 0, 0, 0.25);
    color: #3f4c7f;
}
input[type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) .text {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}
input[type="radio"]:nth-of-type(2):checked ~ .pages {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
input[type="radio"]:nth-of-type(2):checked ~ .pages .page:nth-of-type(2) .input {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
input[type="radio"]:nth-of-type(2):checked ~ .pages .page:nth-of-type(2) .input:nth-child(1) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
input[type="radio"]:nth-of-type(2):checked ~ .pages .page:nth-of-type(2) .input:nth-child(2) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
input[type="radio"]:nth-of-type(2):checked ~ .pages .page:nth-of-type(2) .input:nth-child(3) {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}
input[type="radio"]:nth-of-type(2):checked ~ .pages .page:nth-of-type(2) .input:nth-child(4) {
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s;
}
input[type="radio"]:nth-of-type(2):checked ~ .pages .page:nth-of-type(2) .input:nth-child(5) {
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
}
 @-webkit-keyframes hi {
 from {
 -webkit-transform: translateY(50%) scale(0, 0);
 transform: translateY(50%) scale(0, 0);
 opacity: 0;
}
}
 @keyframes hi {
 from {
 -webkit-transform: translateY(50%) scale(0, 0);
 transform: translateY(50%) scale(0, 0);
 opacity: 0;
}
}
/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}



